body{
    margin: 0 auto;
    background-color: beige;
    color: black;
}

header{
    height: 60px;
  

}



.logo img{
    width: 20%;
    height: 100px;
}

.sidemenu{
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 30px 20px 0;
}


ul li{
    list-style: none;

}

.sidemenu ul{
    color: white;
    text-align: center;

}